name: macOS test

on: [workflow_dispatch]

jobs:
  enable-vnc:
    runs-on: macos-latest
    steps:
      - name: Show macOS version
        run: sw_vers

      - name: Install RustDesk
        run: |
          brew update
          brew install --cask rustdesk

      - name: Launch RustDesk
        run: |
          open -a RustDesk
          sleep 10  # give it time to launch

      - name: Take Screenshot
        run: |
          mkdir -p screenshots
          screencapture screenshots/rustdesk.png

      - name: Upload Screenshot Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rustdesk-screenshot
          path: screenshots/rustdesk.png

      - name: Sleep for 5 minutes
        run: sleep 300
