name: macOS test

on: [workflow_dispatch]

jobs:
  enable-vnc:
    runs-on: macos-latest
    steps:
      - name: Show macOS version
        run: sw_vers

      - name: Take screenshot of virtual display
        run: screencapture screenshot.png

      - name: Upload screenshot
        uses: actions/upload-artifact@v4
        with:
          name: macos-desktop-screenshot
          path: screenshot.png

      - name: Output artifact URL
        run: echo "Artifact URL will be available in the 'Artifacts' section of this workflow run."
